/* ZEN Player by @simurai  */


/* Global ------------------------------------------------------ */

 



/* Player ------------------------------------------------------ */

div#zen {
	position: absolute;
	left: 25%;
	top: 25%;
	margin: 0px 0 0 0px;
    }



/* Mobile ------------------------------------------------------ */


@media only screen and (max-width: 480px) {
	
	body {
		/* Prevents Mobile Safari from bumping up font sizes in landscape */
		-webkit-text-size-adjust: 100%; 
	    }
	
}




